<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        /* Reduce font-size for table content */
        table {
            font-size: 0.8rem;
        }
        /* Reduce row height */
        table tr {
            line-height: 1.2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Weather Data</h1>

        <form action="/" method="get">
            <div class="form-group">
                <select name="city" class="form-control" onchange="this.form.submit()">
                    <option disabled>Choose city...</option>
                    {% for city_name in cities %}
                        <option value="{{ city_name }}" {% if city_name == city %}selected{% endif %}>{{ city_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Date</th>
                    <th>Temperature</th>
                </tr>
            </thead>
            <tbody>
                {% for weather in weather_data %}
                <tr>
                    <td>{{ weather.city }}</td>
                    <td>{{ weather.date }}</td>
                    <td>{{ weather.temperature }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--    <div id="curve_chart" style="width: 900px; height: 500px" class="mx-auto"></div>-->
    <div id="curve_chart" style="width: 100%; height: 400px" class="mx-auto"></div>


    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Temperature');

            data.addRows([
                {% for weather in weather_data %}
                    ['{{ weather.date }}', {{ weather.temperature }}],
                {% endfor %}
            ]);

            var options = {
                title: 'City Temperature',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
        }
    </script>
</body>
</html>
